@import "./colors.scss";

.wrapper {
    margin-bottom: 90px;
    header {
        z-index: 9;
        display: flex;
        position: fixed;
        width: 100vw;
        height: 60px;
        top: 0;
        left: 0;
        padding: 0 15px;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 1px 12px rgba($color: #000000, $alpha: 0.5);
        margin-bottom: 100px;
        background-color: $background;
        nav {
            display: flex;
            .search {
                background-color: transparent;
                border: none;
                .searchIcon {
                    font-size: 18.5px;
                    color: $orange;
                }
                margin-right: 25px;
            }
            .hamburgerMenu {
                background-color: transparent;
                border: none;
                .hamburgerMenuIcon {
                    font-size: 20px;
                    color: $orange;
                }
                .menu {
                    display: none;
                }
            }
        }
    }
}
